[workspace]
resolver = "3"
members = ["nyat-core"]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT"

[workspace.dependencies]
smallvec = "1.15.1"
socket2 = { version = "0.6.2", features = ["all"] }
stun = "0.17.0"
tokio = { version = "1.49.0", features = ["macros", "net", "sync", "time"] }
url = "2.5.8"

[profile.dev]
opt-level = 0
debug = true

[profile.dev.package."*"]
opt-level = 2

[profile.release]
opt-level = 3
strip = true
lto = "thin"
panic = "abort"
codegen-units = 1
